img {
  display: block;
  width: 100%;
}
.products-list {
  /* стилі скидання */
  list-style: none;
  margin: 0;
  padding: 0;
  /* розміщення */
  max-width: 80%;
  margin-inline: auto;
  display: flex;
  gap: 50px;
}

.products-item {
  flex-basis: calc((100% - 150px) / 3);
}
.product {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  transition: box-shadow 200ms ease;
}
.product:hover {
  box-shadow: 1px 1px 2px 2px #0000004e;
}
.product:hover .product-photo::after {
  transform: translateX(0);
}
.product-photo {
  flex-grow: 1;
  position: relative;
  overflow: hidden;
}
.product-photo::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(255, 166, 0, 0.482);
  transform: translateX(-100%);
  transition-property: transform 250ms;
  transition-timing-function: ease-in-out;
}
.product-img {
  object-fit: cover;
  object-position: center;
  height: 100%;
}
.product-meta {
  padding-inline: 1em;
}
